<div class="text-center">
<a href="/" class="lang-logo">
  <img src="<%= asset_path('lang-logo.png') %>">
</a>
<h1>Piotr Laskowski</h1>
<h1>Jakub Wiśniewski</h1>
<h1>Projekt na egzamin</h1>
<br />
<br />
<a type="button" class="btn btn-lg btn-primary" href="https://github.com/ozh204/ruby-egz/"><span class="glyphicon glyphicon-download"></span> Źródło na GitHub</a>
</div>
