@import "bootstrap";
@import "neat/neat";

.jumbotron .lang-logo {
  display:block;
  background:#B01302;
  border-radius:50%;
  overflow:hidden;
  width:100px;
  height:100px;
  margin:auto;
  border:2px solid white;
}

.jumbotron .lang-logo img {
  max-width:100%
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: $state-danger-text;
  }
}

.grids {
  @include grid-container;
  text-align: center;
}
$sidebar-layout: (
        columns: 5,
        gutter: 20px,
        //media: "(min-width: 300px)"
);

$product-gallery: (
        columns: 4 ,
        gutter: 5px,
);
$product-gallery-promo: (
        columns: 1  ,
        gutter: 15px,

);
.grids{
  @include grid-container;
  border: 2px solid #665235;
}
.promocja {
   @include grid-column(2, $sidebar-layout);

 }
.itemsPromo {
  @include grid-column(1, $product-gallery-promo);
  margin-bottom: 1rem;
  min-height: 250px;
  max-height: 250px;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #665235;
}
.zwykly {
  @include grid-column(3, $sidebar-layout);
}

.rows {
  @include grid-collapse($product-gallery);
  @include grid-container;

}

.items {
  @include grid-column(1, $product-gallery);
  margin-bottom: 1rem;
  min-height: 125px;
  max-height: 125px;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #665235;
}

.rowGrid{
  display: grid;
}

.check {
  grid-row: 1;
}
input[type="number"] {
  grid-column:1 ;
  grid-row: 1;
  height:40%;
  width: 60%;

}
#images{
  grid-column:  1/5;
  grid-row:  2/6;
}
#names{
  grid-column: 2;
  grid-row:  1;
}
#prices{
  grid-column: 3;
  grid-row:  1;
}
.link{
grid-row: 7;
}

.items:hover, .itemsPromo:hover {background: #f5f5f5;}